<ion-header>
  <ion-toolbar>
    <ion-menu-button size="large" color="dark" slot="start" no-padding no-margin></ion-menu-button>
    <ion-title color="dark" text-center>
      <h3>Accueil</h3>
    </ion-title>
    <ion-button fill="clear" shape="round" color="dark" slot="end" margin no-padding no-margin>
      <ion-icon slot="icon-only" name="refresh"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <ion-list>
  <ion-card>
    <ion-header>
      <ion-toolbar color="dark" fill="solid">
        <ion-icon name="book" size="large" slot="start" style="padding-left: 10px;"></ion-icon>
        <ion-title>Prochains devoirs</ion-title>
        <ion-card-subtitle style="padding-left: 1.5em;">Demain</ion-card-subtitle>
        <ion-button slot="end" fill="clear" color="light" shape="round" routerLink="/devoirs" no-padding margin-end>
          <ion-icon name="add-circle" size="large" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-card-content>
      <ion-list no-padding no-margin>
        <ion-card no-margin>
          <ion-card-header no-padding no-margin>
            <ion-toolbar no-padding no-margin color="success">
              <ion-toolbar no-padding no-margin margin-start color="light" padding-end>
                <ion-title no-padding no-margin margin-start>Philolsophie</ion-title>
                <ion-checkbox no-padding no-margin slot="end" margin-end color="success" [(ngModel)]="m1"></ion-checkbox>
              </ion-toolbar>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content no-padding no-margin padding-start margin-start *ngIf="!m1">
            <ion-toolbar no-padding no-margin>
              <p no-padding no-margin padding-end padding-start margin-start>bonjour à tout le monde mes amis.</p>
            </ion-toolbar>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin>
          <ion-card-header no-padding no-margin>
            <ion-toolbar no-padding no-margin color="danger">
              <ion-toolbar no-padding no-margin margin-start color="light" padding-end>
                <ion-title no-padding no-margin margin-start>Mathématiques</ion-title>
                <ion-checkbox no-padding no-margin slot="end" margin-end color="danger" [(ngModel)]="m2"></ion-checkbox>
              </ion-toolbar>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content no-padding no-margin padding-start margin-start *ngIf="!m2">
            <ion-toolbar no-padding no-margin>
              <p no-padding no-margin padding-end padding-start margin-start>DM: page1-page254, amuser vou bien coorialement
                (je ne rammasserai pas)</p>
            </ion-toolbar>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin>
          <ion-card-header no-padding no-margin>
            <ion-toolbar no-padding no-margin color="tertiary">
              <ion-toolbar no-padding no-margin margin-start color="light" padding-end>
                <ion-title no-padding no-margin margin-start>Anglais</ion-title>
                <ion-checkbox no-padding no-margin slot="end" margin-end color="tertiary" [(ngModel)]="m3"></ion-checkbox>
              </ion-toolbar>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content no-padding no-margin padding-start margin-start *ngIf="!m3">
            <ion-toolbar no-padding no-margin>
              <p no-padding no-margin padding-end padding-start margin-start>Try to use the verbe be.</p>
            </ion-toolbar>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header>
      <ion-toolbar color="dark" fill="solid">
        <ion-icon name="school" size="large" slot="start" style="padding-left: 10px;" button href="/notes"></ion-icon>
        <ion-title>Dernières notes</ion-title>
        <ion-button slot="end" fill="clear" color="light" shape="round" routerLink="/notes" no-padding margin-end>
          <ion-icon name="add-circle" size="large"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header >
    <ion-card-content>


      <ion-list style="padding:0px;">
        <ion-card color="primary" style="padding:0px; margin:5px;">
          <ion-card-header style="padding:0px 5px 0px 5px">
            <ion-toolbar  color="secondary" style="padding:0px; padding-left:1em; margin-left:0.4em" color="light">
                <ion-card-title>Mathématiques</ion-card-title>
                <ion-card-subtitle>Le 10/13/19</ion-card-subtitle>
            <ion-text style=" padding-right: 1em;" slot="end"><p style="font-size: 1.5em; display: inline;">14.5</p>/20</ion-text>
            </ion-toolbar>
          </ion-card-header>
        </ion-card>
        <ion-card color="secondary" style="padding:0px; margin:5px;">
          <ion-card-header style="padding:0px 5px 0px 5px">
            <ion-toolbar  color="secondary" style="padding:0px; padding-left:1em; margin-left:0.4em" color="light">
                <ion-card-title>Histoire</ion-card-title>
                <ion-card-subtitle>Le 10/13/19</ion-card-subtitle>
            <ion-text style=" padding-right: 1em;" slot="end"><p style="font-size: 1.5em; display: inline;">-5i</p>/10</ion-text>
            </ion-toolbar>
          </ion-card-header>
        </ion-card>
        <ion-card color="tertiary" style="padding:0px; margin:5px;">
          <ion-card-header style="padding:0px 5px 0px 5px">
            <ion-toolbar  color="secondary" style="padding:0px; padding-left:1em; margin-left:0.4em" color="light">
                <ion-card-title>Anglais</ion-card-title>
                <ion-card-subtitle>Le 10/13/19</ion-card-subtitle>
            <ion-text style=" padding-right: 1em;" slot="end"><p style="font-size: 1.5em; display: inline;">17</p>/20</ion-text>
            </ion-toolbar>
          </ion-card-header>
        </ion-card>
      </ion-list>


    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header>
      <ion-toolbar color="dark" fill="solid">
        <ion-icon name="calendar" size="large" slot="start" style="padding-left: 10px;"></ion-icon>
        <ion-title>Prochains cours</ion-title>
        <ion-button slot="end" fill="clear" color="light" shape="round" routerLink="/agenda" no-padding margin-end>
          <ion-icon name="add-circle" size="large"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-card-content>
      <ion-list>
    <ion-card class="cardC" color="warning">
      <div class="he1"><div class="he2"></div></div>
      <div class="he1"><div class="he3"></div></div>
      <div class="bo1"><div class="bo2"></div></div>
      <div class="bo1"><div class="bo3"></div></div>
      <!-- <p  style="position: absolute;top: 0px;margin: 0px;font-size: 1.4em;z-index: 30;color: white;text-align: center;width: 3em; margin-left:8.5em; transform: translate(-0.7em, -0.6em); background-color: black; border-radius: 5px;">10:00</p> -->
      <ion-card class="cardI" color="light" button (click)="presentAlertHomeworks()">
        <h4 class="matter">Physique-Chimie</h4>
        <p class="teacher">Mme. Chabrier</p>
        <p class="room">Salle 16</p>
      </ion-card>
    </ion-card>
    <ion-card class="cardC2" color="primary">
      <div class="he1"><div class="he2"></div></div>
      <div class="he1"><div class="he3"></div></div>
      <div class="bo1"><div class="bo2"></div></div>
      <div class="bo1"><div class="bo3"></div></div>
      <!-- <p  style="position: absolute;top: 0px;margin: 0px;font-size: 1.4em;z-index: 30;color: white;text-align: center;width: 3em; margin-left:8.5em; transform: translate(-0.7em, -0.6em); background-color: black; border-radius: 5px;">10:00</p> -->
      <ion-card class="cardI" color="light" button (click)="presentAlertHomeworks()">
        <h4 class="matter2">Mathématiques</h4>
        <p class="teacher">M. Lanuzel</p>
        <p class="room">Salle 144</p>
      </ion-card>
    </ion-card>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>

