<ion-header>
  <ion-toolbar color="dark">
    <ion-title slot="start">Supranote</ion-title>
    <ion-button size="large" slot="end" color="light" (click)="presentModal()">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
    
    <ion-title color="dark">Supranote</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-segment>
      <ion-segment-button value="0" (click)="segmentChanged(0)">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1" (click)="segmentChanged(1)">
        <ion-icon name="school"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="segmentChanged(2)">
        <ion-icon name="star"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-slides pager="true" [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>

